<h3>Create Business</h3>
<div>
  <form (ngSubmit)="onSubmit()">
    
        <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="businessName" required [(ngModel)]="businessDTO.businessName" name="businessName">
    </div>

    <div class="form-group">
        <label for="name">Type</label>
        <input type="text" class="form-control" id="businessType" required [(ngModel)]="businessDTO.businessType" name="businessType">
      </div>

      <div class="form-group">
        <label for="name">City</label>
        <input type="text" class="form-control" id="businessCity" required [(ngModel)]="businessDTO.businessCity" name="businessCity">
      </div>

      <div class="form-group">
        <label for="name">Post Code</label>
        <input type="number" class="form-control" id="businessPostCode" required [(ngModel)]="businessDTO.businessPostCode" name="businessPostCode" placeholder="Post Code">
      </div>

      <div class="form-group">
        <label for="name">Street</label>
        <input type="text" class="form-control" id="businessStreet" required [(ngModel)]="businessDTO.businessStreet" name="businessStreet">
      </div>

      <div class="form-group">
        <label for="name">House number</label>
        <input type="text" class="form-control" id="businessHouseNumber" required [(ngModel)]="businessDTO.businessHouseNumber" name="businessHouseNumber">
      </div>

      <div class="form-group">
        <label for="name">Details</label>
        <input type="text" class="form-control" id="businessDetails" required [(ngModel)]="businessDTO.businessDetails" name="businessDetails">
      </div>

      <div class="form-group">
        
        <label for="name">Owner Name</label>
        <!-- <input type="text" class="form-control" id="ownerId" required [(ngModel)]="businessDTO.ownerId" name="ownerId"> -->
        <select [(ngModel)]="businessDTO.ownerId" name="ownerId">
          <!-- <option type="number" *ngFor="let owner of ownerList" [value]="businessDTO.ownerId">{{owner.id}}</option> -->
          <option selected>Choose...</option>
          <option  *ngFor="let owner of ownerList" [ngValue]="owner.id">{{owner.ownerName}}</option>
        </select>
      </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
<!-- <div>
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newEmployee()">Add</button>
</div> -->
