<table *ngIf="employeeList">
    <tr *ngFor="let employee of employeeList">
    <td>{{employee.id}}</td>
    <td>{{employee.name}}</td>
    <td>{{employee.lastName}}</td>
    <td><a routerLink="{{employee.id}}/edit">Edit</a></td> 
    <td><button (click)="deleteEmployee(employee.id)">Delete</button></td>
    <!-- <input type="button" value="Refresh Page" onClick="window.location.reload();"> -->
    
</tr>
</table>



<!-- //*ngIf="employeeList" -->
<!-- *ngFor="let employee of employeeList.content" -->