<div class="tile">
    <div>Type: {{businessType}}</div>
    <div>Name: {{businessName}}</div>
    <div>City: {{businessCity}}</div>
    <div>Post Code: {{businessPostCode}}</div>
    <div>Street: {{businessStreet}}</div>
    <div>HouseNumber: {{businessHouseNumber}}</div>
    <div>Details: {{businessDetails}}</div>
    <div>Owner: {{onwerName}}</div>
    
    <!-- <div *ngIf="limit > 0">Limit: {{limit}}km</div>
    <div><a routerLink="{{id}}">Szczegóły</a></div>
    <div><a routerLink="{{id}}/edit">Edycja</a></div> -->
 </div>