<h3>Update Employee</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div >
      <label for="name">Name</label>
      <input type="text" required [(ngModel)]="employeeDTO.employeeName" name="name">
    </div>

    <div >
      <label for="name"> Last Name </label>
      <input type="text" required [(ngModel)]="employeeDTO.employeeLastName" name="lastName">
    </div>

    <!-- <div>
      <label for="name"> Id </label>
      <input type="number" required [(ngModel)]="employee.id" name="id">
    </div> -->

    <button class="btn btn-success" type="submit">Save</button>
  </form>
</div>