<!-- 
<div>
    <p>działa mordo</p>
</div>

<form [formGroup]="employeeEditForm" (ngSubmit)="onSubmit()"> 
    <div>
    <label>
        Name:
        <input type="text" formControlName="name">
    </label>
    </div>
    <div>
        <label>
           Last name:
            <input type="text" formControlName="lastName">
        </label>
        </div>
        <div>
            <button  type="submit" [disabled]="!employeeEditForm.touched || !employeeEditForm.valid" >Zapisz</button>
        </div>
</form> -->
<h3>Update Employee</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div >
      <label for="name">Name</label>
      <input type="text" required [(ngModel)]="employee.name" name="name">
    </div>

    <div >
      <label for="name">Last Name</label>
      <input type="text" required [(ngModel)]="employee.lastName" name="lastName">
    </div>

    <!-- <div>
      <label for="name">Id</label>
      <input type="text" required [(ngModel)]="employee.id" name="id">
    </div> -->

    <button class="btn btn-success" type="submit">Save</button>
  </form>
</div>